html,
body {
    height: 100%;
}

body {
    font-family: "JetBrains Mono", "Microsoft YaHei", sans-serif;
}

.logo {
    max-width: 5rem;
    border-radius: 100%;
    height: 5rem;
}

.logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-text {
    margin-bottom: 0;
    margin-left: 1.5rem;
    text-align: left;
}

.logo-text-up {
    margin-bottom: -5px;
    font-size: 20px;
    opacity: 0.7;
}

.logo-text-down {
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.link-group {
    font-size: 20px;
}

.main-link {
    color: #222;
    transition: all 0.25s;
    line-height: 3.3rem;
    text-decoration: none;
}

.main-link:hover {
    color: #5887FC;
    text-decoration: none;
}

.bili-link {
    color: #222;
    transition: all 0.25s;
    font-size: 20px;
    font-weight: bolder;
    line-height: 3.3rem;
    text-decoration: none;
}

.bili-link:hover {
    color: #5887FC;
    text-decoration: none;
}

@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('assets/iconfont.ttf?t=1623669608002') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-line:before {
    content: "\e75d";
}

#colormode {
    position: fixed;
    margin-left: 4px;
    margin-right: 4px;
    bottom: 1em;
    right: 1em;
    color: #222;
}

[data-theme='dark'] body {
    background-color: #000000;
    color: rgba(255,255,255,0.9);
}

[data-theme='dark'] .main-link {
    color: rgba(255,255,255,0.9);
}

[data-theme='dark'] .bili-link {
    color: rgba(255,255,255,0.9);
}

[data-theme='dark'] .main-link:hover {
    color: #0072ff;
    text-decoration: none;
}

[data-theme='dark'] .bili-link:hover {
    color: #0072ff;
    text-decoration: none;
}

[data-theme='dark'] #colormode {
    color: rgba(255,255,255,0.9);
}